<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IDT-checksum-MD5</key>
	<string>caf1b0ebbb65148ba1cdd9ba033a99ff</string>
	<key>IDT-description</key>
	<string>ACES 1.0 Input - Sony S-Log3 BT.2020</string>
	<key>IDT-transformId</key>
	<string>IDT.thomjiji.SLog3_BT2020.a1.v1</string>
	<key>WCS-description</key>
	<string>ACES2065-1 to ACEScc</string>
	<key>WCS-transformId</key>
	<string>ACEScsc.Academy.ACES_to_ACEScc.a1.0.3</string>
	<key>acesVersion</key>
	<string>1.2.0</string>
	<key>algorithm</key>
	<string>ctl.cubebe</string>
	<key>currentVersion</key>
	<integer>2</integer>
	<key>minRequiredVersion</key>
	<integer>2</integer>
	<key>name</key>
	<string>Custom;S-Log3 Rec.2020</string>
	<key>transformType</key>
	<string>IDT</string>
	<key>workingColorSpace</key>
	<string>ACEScc</string>
</dict>
</plist>
